In [31]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [32]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 94.0.4606
[WDM] - Get LATEST driver version for 94.0.4606
[WDM] - Driver [C:\Users\Guest1\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

## NASA Mars News

In [33]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [34]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [35]:
news_title = soup.find('div', class_="content_title").text
news_text = soup.find('div', class_="article_teaser_body").text
print(f'News Title: {news_title}')
print(f'Paragraph Text: {news_text}')

News Title: Meet the People Behind NASA's Perseverance Rover
Paragraph Text: These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater.

## JPL Mars Space Images - Featured Image

In [36]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [37]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [38]:
results = soup.find('a', class_='showimg fancybox-thumbs')['href']

featured_img_url = f'https://spaceimages-mars.com/{results}'
print(featured_img_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

## Mars Facts

In [39]:
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [47]:
tables = pd.read_html(url)
df = tables[0]
df.columns = ["Description", "Mars", "Earth"]
df = df.set_index("Description")
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [11]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [12]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [13]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
results = soup.find_all('div', class_='item')

hemispheres = []

for result in results:
    link = result.find('a', class_='itemLink product-item')['href']
    hemispheres.append(url + link)    

hemispheres

['https://marshemispheres.com/cerberus.html',
 'https://marshemispheres.com/schiaparelli.html',
 'https://marshemispheres.com/syrtis.html',
 'https://marshemispheres.com/valles.html']

In [15]:
hemisphere_dict = []

for hemisphere in hemispheres:
    browser.visit(hemisphere)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    img_url = url + soup.find('img', class_="wide-image")['src']
    title = soup.find('h2').text
    
    hemisphere_dict.append({"title": title, "img_url": img_url})

hemisphere_dict

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

## Convert .ipynb to .py

In [20]:
#jupyter nbconvert --to python mission_to_mars.ipynb --output scrape_mars.py

[NbConvertApp] Converting notebook mission_to_mars.ipynb to python
[NbConvertApp] Writing 2131 bytes to scrape_mars.py